#head-1
{
    color: white;
    text-align: center;
}

#circle {
    height: 400px;
    width: 400px;
    background: grey;
    border-radius: 50%;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
}

#bton
{
    margin-left: 1750px;
    margin-top: 775px;
}

#btoff
{
    margin-right: 50px;
    margin-bottom: 50px;
}