.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;


  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px azure, 0 0 40px azure, 0 0 50px azure, 0 0 60px azure, 0 0 70px azure;
    }
    
    to {
      text-shadow: 0 0 20px white, 0 0 30px aquamarine, 0 0 40px aquamarine, 0 0 50px aquamarine, 0 0 60px aquamarine, 0 0 70px aquamarine, 0 0 80px aquamarine;
    }
  }

#moon {
    height: 400px;
    width: 400px;
    background: grey;
    border-radius: 50%;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
}

#sun {
    height: 500px;
    width: 500px;
    background: orangered;
    border-radius: 50%;

    position: fixed;
    top: 45%;
    left: -10%;
    margin-top: -200px;
    margin-left: -200px;
}

#apollo
{
    margin-left: 95%;
    margin-top: 35%;
}