#circle {
    position: relative;
    background-color: gray;
    margin: 20px auto;
    margin-top: 5%;
    width: 400px;
    height: 400px;
    border-radius: 200px;
}

.button {
    position: relative;
    margin-top: 100px;
    margin-left: 500px;
}